.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.texto {
    width: 66.6%;
    padding-right: 100px; /* Espacio entre el texto y la imagen */
    text-align: justify;
}

.imagen {
    width: 33.3%;
}

.imagenperfil {
    max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
}

.deathroadcss {
    width: 45.5%;
}

.imagendeathroad {
    max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
}

.carruselreels {
    position: relative;
    width: 100%;
    background-color: #111111;
    margin: 0;
    padding: 0;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 80%;
    overflow: hidden;
    position: relative; /* Asegura que los botones de navegación se posicionen correctamente */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide iframe {
    width: 315px; /* Ajusta el ancho según sea necesario */
    height: 560px; /* Ajusta la altura según sea necesario */
}

@media (max-width: 991px) {
    .carruselreels {
        padding: 0 20px;
    }

    .swiper-slide iframe {
        width: 100%;
        height: auto;
    }
}
